@model IEnumerable<EsseJaLi.Models.LivrosLeitores>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.Paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Name)
            </td>
            <td>
                 <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                <!--  <form asp-controller="Leitores" asp-action="MarcarComoLido" method="post"> 
        <input type="hidden" asp-for="@item.Id" name="Id" id="ID">
        <button class="btn mt-3 btn-warning">Lido</button> </form>
             |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
